bin/Chess.exe
bin/Chess
bin/log.txt
bin/Chess.exe - Shortcut.lnk
Chess-v0.1.zip
Chess-v0.1-x86_64.zip
.vscode/**
Chess
bin/move.txt
bin/assets/Record/test.txt
Chess-v1.0-win10-x86_64.zip
bin/stockfish_20090216_x64_bmi2.exe
stockfish_12_win_x64_modern.zip
bin/stockfish_20090216_x64_bmi2.exe
build
.vscode
CMakeFiles
CMakeCache.txt
cmake_install.cmake 
Makefile
